/* App 全局樣式 */


body {
  font-family: Arial, sans-serif;
  background-color: #2d2d2d;
  color: white;
}
.App{
  height: 100%;
}
.sideMenu{
  width: 300px;
  height: 100vh;
  position: relative;
  background-color: #272727;
  border-right:3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-shadow: 5px 0 5px rgba(48, 60, 77, 0.6);
  transition: width .1s ease-in-out;
}



.sideMenu.collapsed{
  width: 50%;
}

.sideMenu-button{
  position: absolute;
  left: 280px;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 80px;
  background: #272727;
  cursor: pointer;
  color: white;
  align-items: center;
  transition:background-color 0.4s;
}

.sideMenu-button-icon{
  position: absolute;
  top: 30%;
  left: 30%;
}


.sideMenu nav a{
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  font-weight: 1000;
  transition: opacity 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
}

.sideMenu.collapsed nav span{
  opacity: 0;
  transition: opacity 0.1s ease, transform 0.3s ease;
}

.sideMenu-button:hover {
  background-color: #2d2d2d;
}

.sideMenu.open .sideMenu-button {
  right: -25px;
}


form{
  display: flex;
  margin: 0 10px 50px;
  border: 1px solid white;
  border-radius: 100px;
  input{
    width: 85%;
  }
  button{
    width: 15%;
  }
  input,
  button{
    height: 40px;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
  }
  input:focus,
  button:focus{
    outline: none;
  }
}


.set-note{
  background-color: palegreen;
}



nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  font-weight: 1000;
  padding: 25px 100px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
}

.sideMenu.collapsed nav ul li{
  position: relative;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.sideMenu.collapsed nav ul li span{
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



nav ul li span{
  margin-right: -1.2em;
  transform: scale(1);
  transition: 0.3s;
}

nav ul li:hover span {
  margin-right: 10px;
  transform: scale(1.5) translateX(10px);
  border-bottom: 1px solid #ffffff;
}



